* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 1170px;
  margin: 0 auto;
  padding: 0 0.5rem;
}

.text-center {
  text-align: center;
}

header {
  padding: 1rem 0;
}
header .link {
  margin: 0 1rem;
  color: black;
  text-transform: uppercase;
}
header .link:hover {
  color: #0D7CEC;
}
header a {
  vertical-align: middle;
  text-decoration: none;
}