.comic-detail{
    .jumbo{
        background-image: url('/images/jumbotron.jpg');
        background-position:top ;
        height: 400px;
        border-bottom: 2rem solid $dc-color;
        .container{
            height:100%
        }
        .comic-container{
            height:100%;
            display: flex;
            align-items: flex-end;
        }
        }
    .comic-description{
        padding: 4rem 0;
    }
}