.comic-detail{
    .jumbo{
        background-image: url('/images/jumbotron.jpg');
        background-position:top ;
        height: 400px;
        border-bottom: 2rem solid $dc-color;
        .container{
            height:100%;
            padding: 0 4rem;
        }
        .comic-container{
            height:100%;
            display: flex;
            align-items: flex-end;
            transform: translateY(10px)
        }
        }
    .comic-description{
        padding: 4rem 4rem;
        h3{
            text-transform: uppercase;
            color: $description-title;
            font-size: 1.5rem;
        }
        .available{
            display: flex;
            justify-content: space-between;
            background-color: #55BA5A;
            padding: 1rem;
            margin: 1rem 0;
            span{
                color:#AFF790
            }
        }
    }
}